* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
header {
  width: 100%;
  padding: 20px;
  background-color: red;
}
header nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
header a {
  color: #235797;
  text-decoration: none;
}
a.active {
  color: #fff;
  background-color: #000;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  gap: 5px;
}
.pagination li {
  border: 1px solid red;
  cursor: pointer;
}
.pagination li a {
  display: inline-block;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.active{
  background-color: rgb(255, 0, 0);
}